<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.64.0.0" targetFramework="native" />
  <package id="gmock" version="1.7.0" targetFramework="native" />
  <package id="gtest" version="1.7.0" targetFramework="native" />
  <package id="Range-V3-VS2015" version="1.0.6" targetFramework="native" />
</packages>